#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 430px;
  margin-top: 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  min-width: 315px !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 13px -1px rgba(0,0,0,.07);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
