nav{
    height: 270px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .nav_search{
        display: flex;
        align-items: center;
        gap: 30px;
        form{
            display: flex;
            input{
                border: 2px solid #4361ee;
                border-radius: 10px;
                flex: 1 1;
                font-size: 20px;
                height: 61px;
                width: 828px;
                outline: none;
                text-indent: 10px;
            }
            .search_icon{
                border-radius: 0 10px 10px 0;
                color: #fff;
                display: flex;
                font-size: 20px;
                height: 61px;
                justify-content: center;
                align-items: center;
                margin-left: -10px;
                width: 100px;
                background-color: #4361ee;
            }
        }
        .nav_logo{
            width: 180px;
            height: 73px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .pages{
        display: flex;
        margin-top: 70px;
        gap: 20px;
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            padding: 10px 30px;
            text-decoration: none;
            width: 173px;
            height: 44px;
            border-radius: 50px;
            color: #4361ee;
            background-color: #f7f7f7;
            border: 1px solid  #c8c6c6;
        }
    }
}